name: Simple CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
    - name: Get project code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install test tool
      run: pip install pytest

    - name: Run tests
      run: pytest
